.about{
    overflow-x: hidden;
}

.box{
    background-color: lightblue;
    padding: 15px;
    border-radius: 20px;
}
.aboutContent .subTitle{
    color : var(--btn);
    font-size: 40px;
    font-weight: 700;
}

.aboutContent .title{
    color :white !important;
    font-size: 35px;
    font-weight: 600;
}

.aboutContent .desc{
    color: var(--textSoft);
    font-size: 16px;
    font-weight: 500;
}

.countNum{
    font-size: 27px;
    color: #3672FD;
}
.countNum .countTitle{
    font-size: 16px;
    color: white !important;
}

.aboutImage{
    object-fit: contain;
}

@media(max-width: 460px) {
    .boxs{
        flex-direction: column;
        gap: 15px;
    }
}
